@{
    ViewBag.Title = "Simple remote";
}

<h2>Simple remote</h2>
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning">
        The values are set in the 'GetDummyDict' from the server. Start with 'value'..
    </div>
    <div class="form-group">
        <input type="text" class="form-control typeahead" placeholder="search for an item" />
    </div>
    <div class="form-group">
        <label for="displayCtl" class="control-label">Selected item</label>
        <input type="text" class="form-control" id="displayCtl" />
    </div>
    
</div>



@Html.Hidden("urlGetDummyDict", Url.Action("GetDummyDict"))

@section scripts
{
    <script type="text/javascript">
        $(function () {
            type.simpleRemote($(".typeahead"), $("#urlGetDummyDict").val(), $("#displayCtl"));
        });
    </script>
}