
@{
    ViewBag.Title = "With template";
}

<h2>With template</h2>

<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning">
        The values are set in the 'GetTempl' from the server. Start with 'Name'..
    </div>
    <div class="form-group">
        <input type="text" id="text" class="form-control typeahead" placeholder="search for an item" />
    </div>
    <div class="form-group">
        <label for="selected" class="control-label">Selected item</label>
        <input type="text" class="form-control" id="selected" />
    </div>
</div>

@Html.Hidden("urlGetTempl", Url.Action("GetTempl"))

@section scripts
{
    @Scripts.Render("~/bundles/handlebars")
    <script type="text/javascript">
        $(function () {
            type.withTemplate($(".typeahead"), $("#urlGetTempl").val(), $("#selected"));
        });
    </script>    
}